<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Class Room</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="index.html">Home</a></li>
                            <li>Class Room</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container">
      <div class="section-title-wrapper">
          <div class="section-title section">
              <h3>JMCOP Class Room</h3>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 class="f-w-700">Classrooms features :-<hr></h4>
                <ul style="list-style-type:disc">
                <li>Spacious classrooms for all batches</li>
                <li>Wooden furniture with great comfort helps students sit for longer period of time.</li>
                <li>Class rooms are furnished with curtains for maintaining better atmosphere during summers.</li>
                <li>Classes also have world class lighting and conditioning system with projector facility.</li>
                </ul><br><br>
                </div>
  
        </div>

        <div class="row">
            <div class="col-md-4 mb-30 col-sm-6">
                <div class="gallery-img">
                    <img src="https://res.cloudinary.com/divaker/image/upload/v1556763227/assets/A06I7422.jpg" onerror="this.src='../../../../../assets/img/banner-default.png'">
                    <div class="hover-effect">
                        <h2>JMCOP</h2>
                        <p>B.Pharma Class Room</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-30 col-sm-6">
                <div class="gallery-img">
                    <img src="https://res.cloudinary.com/divaker/image/upload/v1556763312/assets/A06I7419.jpg" onerror="this.src='../../../../../assets/img/banner-default.png'">
                    <div class="hover-effect">
                        <h2>JMCOP</h2>
                        <p>B.Pharma Class Room</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-30 col-sm-6">
                <div class="gallery-img">
                    <img src="https://res.cloudinary.com/divaker/image/upload/v1556763199/assets/A06I7418.jpg" onerror="this.src='../../../../../assets/img/banner-default.png'">
                    <div class="hover-effect">
                        <h2>JMCOP</h2>
                        <p>B.Pharma Class Room</p>
                    </div>
                </div>
            </div>
          </div>
    </div>