

<div class="container">
 
    <ul class="breadcrumb">
        <li><a href="#">About</a></li>
        <li>Affiliation</li>
      </ul>

<div class="section-title-wrapper">
    <div class="section-title section">
        <h3>JMCOP Affiliation</h3>
        <p> sdfsdfsdf sdfsd</p>
      </div>
  </div>


<div class="row vision">

  <div class="single-latest-text">
      <h3>Vision</h3> 
     <p>
        All the programmes are approved by All India Council for Technical Education (AICTE), New Delhi & State Govt. and affiliated to Dr. APJ Abdul Kalam Technical University (Formerly, Uttar Pradesh Technical University), Lucknow. Admission to various programmes is made as per the rules and regulations of AICTE, Dr. APJ Abdul Kalam Technical University and State Govt. The seats are allocated on the basis of merit in Dr. APJ Abdul Kalam Technical University, Lucknow through online counseling. The remaining seats are filled up as per the rules and regulations of state Govt. / Dr. APJ Abdul Kalam Technical University.
     </p>
     
     
      
 
  </div>

  




</div>
</div>











