
<div class="breadcrumb-banner-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="breadcrumb-text">
                  <h1 class="text-center">About</h1>
                  <div class="breadcrumb-bar">
                      <ul class="breadcrumb text-center">
                          <li><a href="index.html">Home</a></li>
                          <li>About</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">
 

<div class="section-title-wrapper">
    <div class="section-title section">
        <h3>About The JMCOP</h3>
       
      </div>
  </div>


<div class="row vision">

  <div class="card">
      <h3>About Us</h3> 
     <p>
      JMCOP was granted University status by UP government vide JMCOP Act No. 24 of 2010. It has been the pioneer in bringing technical and professional education to the city of Moradabad in 1996. From a humble beginning in 1996, it has expanded into a huge ~51.74 acres campus offering courses in various disciplines and programmes. It is located at a distance of 12 km from Moradabad city on Lucknow-Delhi National Highway (NH-24).
     </p>


     <p>
      JMCOP has blossomed into a multi-disciplinary centre of learning that offers quality education in more than 70 programs of Diploma, Undergraduate, Postgraduate and Doctoral level in Engineering, Business Management, Pharmacy, Biotechnology, Microbiology, Arts, Sciences, Law, Education, Journalism and Mass Communication, Social Science, Computer Application, etc.


     </p>


     <p>
      Programs in Agricultural Science and Technology (Agronomy, Horticulture & Genetics and Plant Breeding) have added new dimensions to the programmes offered. Besides academics, sports and cultural activities contribute towards the overall development of students. In the 2017-18 session the University has score NAAC Accredited as B.
     </p>
     
     
      
 
  </div>

  




</div>
</div>











