<div class="breadcrumb-banner-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="breadcrumb-text">
                  <h1 class="text-center">Facility</h1>
                  <div class="breadcrumb-bar">
                      <ul class="breadcrumb text-center">
                          <li><a href="index.html">Home</a></li>
                          <li>Facility</li>
                          <li>Canteen</li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="container">
    <div class="section-title-wrapper">
        <div class="section-title section">
            <h3>JMCOP Canteen</h3>
          </div>
      </div>
     
      <div class="row">
          <div class="col-md-12 col-sm-12">
              <h4 class="f-w-700">Cafeteria/Canteen features :-<hr></h4>
              <ul style="list-style-type:disc">
             <li>A Canteen facility is also available in the campus with wide range of services.</li>
             <li>Canteen provides all normal daily requirements of the students on payment basis.</li>
             <li>It remains open 24 hrs on working as well as nonworking days . Nescafe, Burger, Momos etc are served in these canteen along with other items.</li>
              <li>Beside the episodic events, Cafeteria, is the place where students get a lot relaxation and enjoy their free time.</li>
              </ul><br><br>
              </div>

      </div>
  </div>