

<div class="container">
 
      <ul class="breadcrumb">
          <li><a href="#">About</a></li>
          <li><a href="#">Vission</a></li>
          <li>Vission</li>
        </ul>
 
  <div class="section-title-wrapper">
      <div class="section-title section">
          <h3>Our Mission And Vission</h3>
          <p>Right Philosophy | Right Knowledge | Right Conduct </p>
        </div>
    </div>
  

<div class="row vision">

    <div class="single-latest-text">
        <h3>JMCOP Vision</h3> 
       
        <div class="quote-section">
            <p>Jagmeet College of Pharmacy Chandpur aims to establish, develop, manage and maintain the Couses related with Health Sciences and Research and to prepare young men and women for careers in the corporate world by exposing them to the conceptual skills, tools and techniques of technical education.</p>
        </div>
        <h3>JMCOP Mission</h3> 
       
        <div class="quote-section">
            <p>Our endeavor is to impart knowledge and develop critical skills necessary to succeed both in professional and personal life by promoting learning supported by world-class faculty, infrastructure, technology, curricula and collaborative teaching and research with premier institutions in India and abroad.</p>
        </div>
        <h3>Focus</h3> 
       
        <div class="quote-section">
            <p>In our quest to make the university a destination for world-class education, following nine-fold priority areas have been identified for actions:</p>
            <p><b>Teaching and Learning:</b> Create conducive environment for an interactive and application oriented experiential learning.</p>
            <p><b>Research:</b> Foster research orientation in students and faculty in basic and applied areas in all disciplines.</p>
            <p><b>Consultancy Services:</b> Take academic proficiency to corporate and community by providing cost effective solutions</p>
            <p><b>People:</b> Make Jagmeet College Of Pharmacy a preferred destination for work and study.
              <p><b>Global Perspective:</b> Encompass a national and international viewpoint into teaching, research and consultancy.</p>
  <p><b>Good Governance:</b> Bring transparency and accountability in university operations.</p>
  <p><b>Social Relevance:</b> Position itself as a catalyst for social change.</p>
  <p><b>Entrepreneurial Culture:</b> Nurture entrepreneurial capabilities to accelerate growth.</p>
  <p><b>Sports and Culture:</b> Provide ample opportunities to develop sportsmanship and love for culture and national heritage.
        </div>
    </div>

    




</div>
</div>

  