<div class="container">
 
    <ul class="breadcrumb">
        <li><a href="#">Faculty</a></li>
      </ul>
      <div class="section-title-wrapper">
          <div class="section-title section">
              <h3>Faculty</h3>
              <p>B.Pharma & D.Pharma</p>
            </div>
        </div>
        <hr>
<div class="row">



<div class="col-md-4" *ngFor="let item of lst">
    <div class="sidebar-widget">
        <div class="single-sidebar-widget">
            <div class="tution-wrapper">
               
                <div class="tutor-image">
                    <img [src]="item.ImgUrl" class="fac-img" alt="">
                </div>
                <div class="single-teacher-text">
                    <h3>{{item.Name}} ({{item.Qualification}})</h3>
                    <h4>Teacher</h4>
                    <p>{{item.Description}}</p>
                    <div class="social-links">
                        <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#"><i class="zmdi zmdi-google-old"></i></a>
                        <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
       
    </div>
</div>

</div>
</div>