<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">CONTACT US</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="index.html">Home</a></li>
                            <li>CONTACT</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End of Breadcrumb Banner Area-->
<!--Google Map Area Start-->
<div class="google-map-area" style="margin-top: 89px;">
    <!--  Map Section -->
    <div id="contacts" class="map-area">
        <!-- <div id="googleMap" style="width:100%;height:485px;filter: grayscale(100%);-webkit-filter: grayscale(100%);"></div> -->
        <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
    </div>
</div>
<!--End of Google Map Area-->
<!--Contact Form Area Start-->
<div class="contact-form-area section-padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4 class="contact-title">contact info</h4>
                <div class="contact-text">
                    <p><span class="c-icon"><i class="zmdi zmdi-phone"></i></span><span class="c-text">+094127 12563</span></p>
                    <p><span class="c-icon"><i class="zmdi zmdi-email"></i></span><span class="c-text">info@jmcop.com</span></p>
                    <p><span class="c-icon"><i class="zmdi zmdi-pin"></i></span><span class="c-text">Jagmeet Memorial College Of Pharmacy, 10th Mile Stone, Chandpur Gajraula Highway, Chandpur, District – Bijnor (U.P.), Comprises Of Part- I And Part-II. Diploma In Pharmacy Is Duly Approved By AICTE And PCI, And The Curriculum And Syllabi For The Course Is Prescribed By Board Of Technical Education, Lucknow, Uttar Pradesh (College Code BTE-1977).</span></p>
                </div>
                <h4 class="contact-title">social media</h4>
                <div class="link-social">
                    <a href="#"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="#"><i class="zmdi zmdi-rss"></i></a>
                    <a href="#"><i class="zmdi zmdi-google-plus"></i></a>
                    <a href="#"><i class="zmdi zmdi-pinterest"></i></a>
                    <a href="#"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
            <div class="col-md-7">
                <h4 class="contact-title">send your massage</h4>
                <form id="contact-form"  [formGroup]="frm" (ngSubmit)="send()" novalidate>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" name="name" placeholder="Name" #refName required  formControlName="name">
                        </div>
                        <div class="col-md-4">
                                <input type="number" name="mobile" minlength=10 maxlength=10  placeholder="Mobile" #refName required  formControlName="mobile">
                            </div>
                        <div class="col-md-4">
                            <input type="email" name="email" placeholder="Email" #refName required  formControlName="email">
                        </div>
                        <div class="col-md-12">
                            <textarea name="message" cols="30" rows="10" placeholder="Message" #refName required  formControlName="message"></textarea>
                            <button type="submit" [disabled]="frm.invalid" class="button-default">SUBMIT</button>
                        </div>
                    </div>
                </form>
                <p class="form-messege"></p>
            </div>
        </div>
    </div>
</div>