<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                  <div class="card-header card-header-tabs card-header-primary">
                      <div class="nav-tabs-navigation">
                          <div class="nav-tabs-wrapper">
                              <span class="nav-tabs-title">Home Page:</span>
                              <ul class="nav nav-tabs" data-tabs="tabs">
                                  <li class="nav-item">
                                      <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                          <i class="material-icons">bug_report</i> Banner Images
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                          <i class="material-icons">perm_media</i> College Gallery
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                          <i class="material-icons">event</i> Event
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                                  <li class="nav-item">
                                      <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                          <i class="material-icons">notifications</i> Notifications
                                          <div class="ripple-container"></div>
                                      </a>
                                  </li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="card-body">
                      <div class="tab-content">
                          <div class="tab-pane active" id="profile">
                            
                              <div class="col-sm-12 align-center">
                              <button mat-raised-button type="submit" 
                              class="btn btn-danger" (click)="fileInput.click()">Upload Image</button>
                              <input hidden type="file" (change)="preview($event.target.files)" #fileInput id="input-file-id">
                              <!-- <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
                                {{progress}}%
                              </span>
                              
                              <span style="font-weight:bold;color:green;" *ngIf="message">
                                {{message}}
                              </span> -->
                            </div>

                              <div class="col-sm-12 align-center">
                                  <div _ngcontent-c10="" class="card-avatar">
                                    <a _ngcontent-c10="" href="#pablo">
                                        <img class="img" [src]="imgURL" style="height: 200px;
                                      width: 507px;"></a></div>
                                  <button mat-raised-button type="button"  class="btn btn-danger" (click)="uploadToServer()">Save</button>
                              </div>
                              <div class="col-md-12">
                                  <div class="card">
                                      <div class="card-header card-header-danger">
                                          <h4 class="card-title ">Home Page Banner List</h4>
                                          
                                      </div>
                                      <div class="card-body">
                                          <mat-grid-list cols="4" rowHeight="100px">
                                              <mat-grid-tile
                                                  *ngFor="let tile of tiles"
                                                  [colspan]="tile.cols"
                                                  [rowspan]="tile.rows"
                                                  [style.background]="tile.color">
                                                
                                                
                                                <img src="../../../assets/img/faces/marc.jpg" style="width: 184px;height: 90px;">
                                                <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon btn-white">
                                                    <i class="material-icons">close</i>
                                                </button>
                                                
                                              </mat-grid-tile>
                                            </mat-grid-list>
                                         
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="tab-pane" id="messages">
                              <div class="col-sm-12 align-center">
                                  <!-- <button mat-raised-button type="submit" class="btn btn-danger">Upload Image</button>
                                  <input hidden type="file" #fileInput1> -->
                                </div>
    
                                  <div class="col-sm-12 align-center">
                                      <div _ngcontent-c10="" class="card-avatar">
                                        <a _ngcontent-c10="" href="#pablo"><img _ngcontent-c10="" class="img" src="./assets/img/faces/marc.jpg" style="height: 200px;
                                          width: 507px;"></a></div>
                                      <button mat-raised-button type="submit" class="btn btn-danger">Save</button>
                                  </div>
                                  <div class="col-md-12">
                                      <div class="card">
                                          <div class="card-header card-header-danger">
                                              <h4 class="card-title ">Home Page Banner List</h4>
                                              
                                          </div>
                                          <div class="card-body">
                                              <mat-grid-list cols="4" rowHeight="100px">
                                                  <mat-grid-tile
                                                      *ngFor="let tile of tiles"
                                                      [colspan]="tile.cols"
                                                      [rowspan]="tile.rows"
                                                      [style.background]="tile.color">
                                                    
                                                    
                                                    <img src="../../../assets/img/faces/marc.jpg" style="width: 184px;height: 90px;">
                                                    <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon btn-white">
                                                        <i class="material-icons">close</i>
                                                    </button>
                                                    
                                                  </mat-grid-tile>
                                                </mat-grid-list>
                                             
                                          </div>
                                      </div>
                                  </div>
                          </div>
                          <div class="tab-pane" id="settings">
                              <table class="table">
                                  <tbody>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="">
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" checked>
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Flooded: One year later, assessing what was lost and what was found when a ravaging rain swept through metro Detroit
                                          </td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                      <tr>
                                          <td>
                                              <div class="form-check">
                                                  <label class="form-check-label">
                                                      <input class="form-check-input" type="checkbox" value="" checked>
                                                      <span class="form-check-sign">
                                                          <span class="check"></span>
                                                      </span>
                                                  </label>
                                              </div>
                                          </td>
                                          <td>Sign contract for "What are conference organizers afraid of?"</td>
                                          <td class="td-actions text-right">
                                              <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">edit</i>
                                              </button>
                                              <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                  <i class="material-icons">close</i>
                                              </button>
                                          </td>
                                      </tr>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

</div>

</div>
</div>
</div>