

<div class="inventory-body">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="name"/>
        <input type="password" placeholder="password"/>
        <input type="text" placeholder="email address"/>
        <button>create</button>
        <p class="message">Already registered? <a href="#">Sign In</a></p>
      </form>
      <form class="login-form" [formGroup]="userForm" (ngSubmit)="login()" novalidate>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" (keyup)="keyup($event)" #refName required  formControlName="email"  >
          </mat-form-field>

          <mat-form-field class="example-full-width">
              <input matInput type="password" placeholder="Password" (keyup)="keyup($event)" #refName required  formControlName="password"  >
            </mat-form-field>
       
        <button mat-raised-button type="submit" class="btn btn-danger"  [disabled]="userForm.invalid">Login</button>
        <p class="message">Not registered? <a href="#">Forgot Password</a></p>
      </form>
    </div>
  </div>






