

 <div class="slider-area">
    <div class="preview-2">
     
         

            <ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig" >
<div ngxSlickItem *ngFor="let slide of sliderData" class="slide">
  <img src="{{slide.ImgUrl}}" alt="" width="100%">
</div>
</ngx-slick-carousel>
<marquee direction="left" class="marquw-home" onmouseover="this.stop();" onmouseout="this.start();">
    Result of Pre-Ph.D. Coursework Examination 2018.
</marquee>

       
    </div>
</div>
<!-- <marquee direction="left" onmouseover="this.stop();" onmouseout="this.start();">
  <h3 style="color:red;">New</h3> <p>Online Registration is coming soon</p>  
    </marquee> -->
<div class="course-area section-padding bg-white overview">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wrapper">
                        <div class="section-title">
                            <h3>Overview</h3>                          
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                    
                <div class="col-sm-12">
                    <div class="single-item">
                        <div class="single-item-image overlay-effect">
                           
                        </div>
                        <div class="single-item-text">
                                <h4>WELCOME TO JAGMEET COLLEGE OF PHARMACY (JMCOP)</h4>

                            
                                <p>Jagmeet College of Pharmacy, located at Plot No. 41, Knowledge Park – III, Greater Noida ,as a part of the student’s centric services of Metro Group of Hospitals founded in 1997 by, Dr.Purshotam Lal (Padma Vibhushan, Padma Bhushan and Dr. B.C. Roy National Awardee), a pioneer of Interventional Cardiology in India, Metro Group of Hospitals is a group of 13 (2,500+ beds) flourishing hospitals, varied specialties situated in Delhi, Noida, Meerut, Haryana, Haridwar, Gurgaon, Gujarat and Rajasthan.</p>
                                <p>Society of Metro Group for Education and Medical Research has initiated to established Metro College of Health Sciences & Research to impart Quality Education in area of Health Sciences, Metro College of Pharmacy is one of the wing which will offer different Pharmacy program to equip young students to develop a strong set of competencies desired in today’s cutting edge -competitive world.</p>
                                <p>The Jagmeet College of Pharmacy is established in a 2.68 acres land with all infrastructure like Class Room, Laboratories, Machine Room, Instrumentation Room, Library, Play Ground, Cafeteria, Animal House and Herbal Garden etc. The Pharmacy College is affiliated to Dr.A.P.J.Abdul Kalam Technical University Lucknow and Board of Technical Education, Lucknow and approval by Pharmacy Council of India and All India Council for Technical Education & Ministry of HRD New Delhi. It is located amidst environment friendly and lush green educational hub of Greater Noida, by the side of 8- lane Noida - Greater Noida Express way is a sprawling and serene campus at a distance of about 30 minutes drive from New Delhi Border.</p>
                               
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="course-area section-padding bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>POPULAR COURSES</h3>
                        <p>There are many variations of course of which we are provided</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12" *ngFor="let course of courseList">
                <div class="single-item">
                    <div class="single-item-image overlay-effect">
                        <a href="#"><img src="../../../../../assets/img/college/course/3.jpg" alt=""></a>
                    </div>
                    <div class="single-item-text">
                        <h4><a >{{course.name}}</a></h4>
                        <div class="single-item-text-info">
                            <span>Available Seats: <span>{{course.seates}}</span></span>
                            <span>Duration: <span>{{course.seates}}</span></span>
                        </div>
                        <p>{{course.description}}</p>
                       
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

             
                <div class="product-area section-bottom-padding bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Our Library</h3>
                                        <p>There are many variations of Library</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <marquee scrolldelay="200" behavior="alternate" width="80%"> </marquee> -->
                        <div class="row">
                            <div class="col-md-3 col-sm-4">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <a href="#"><img src="http://res.cloudinary.com/divaker/image/upload/v1555757722/sample_id.jpg" alt=""></a>
                                    </div>
                                    <div class="single-product-text">
                                        <h4><a href="#">Book Store</a></h4>
                                        <h5>Inside Librery</h5>
                                      
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <a href="#"><img src="http://res.cloudinary.com/divaker/image/upload/v1555757722/sample_id.jpg" alt=""></a>
                                    </div>
                                    <div class="single-product-text">
                                        <h4><a href="#">Book Store</a></h4>
                                        <h5>Inside libreary</h5>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <a href="#"><img src="http://res.cloudinary.com/divaker/image/upload/v1555757703/sample_id.jpg" alt=""></a>
                                    </div>
                                    <div class="single-product-text">
                                        <h4><a href="#">Book Store</a></h4>
                                        <h5>Inside libreary</h5>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <a href="#"><img src="http://res.cloudinary.com/divaker/image/upload/v1555757688/sample_id.jpg" alt=""></a>
                                    </div>
                                    <div class="single-product-text">
                                        <h4><a href="#">Book Store</a></h4>
                                        <h5>Inside libreary</h5>
                                       
                                    </div>
                                </div>
                            </div>
                       
                        </div>
                   
                    </div>
                </div>
               
                <div class="about-area" style="background: rgba(0, 0, 0, 0) url('../../../../assets/img/college/banner/1.jpg') no-repeat scroll center top;">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-8">
                              <div class="about-container">
                                  <h3>Overview</h3>
                                  <p>
                                        The Jagmeet College Of Pharmacy Is Established In A 2.68 Acres Land With All Infrastructure Like Class Room, Laboratories, Machine Room, Instrumentation Room, Library, Play Ground, Cafeteria, Animal House And Herbal Garden Etc. The Pharmacy College Is Affiliated To Dr.A.P.J.Abdul Kalam Technical University Lucknow And Board Of Technical Education, Lucknow And Approval By Pharmacy Council Of India And All India Council For Technical Education & Ministry Of HRD New Delhi. It Is Located Amidst Environment Friendly And Lush Green Educational Hub Of Greater Noida, By The Side Of 8- Lane Noida - Greater Noida Express Way Is A Sprawling And Serene Campus At A Distance Of About 30 Minutes Drive From New Delhi Border.
                                  </p>
                                 
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
                <!--End of Testimonial Area-->
                <!--Event Area Start-->
                <div class="event-area section-padding bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>OUR EVENTS</h3>
                                        <p>There are many variations of passages</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="single-event-item">
                                    <div class="single-event-image">
                                        <a href="#">
                                            <!-- <img src="../../../../assets/img/college/event/1.jpg" alt=""> -->
                                            <span><span>15</span>Jun</span>
                                        </a>
                                    </div>
                                    <div class="single-event-text">
                                        <h3><a href="#">A Report on 70th Indian Pharmaceutical Congress</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                           <span><i class="zmdi zmdi-pin"></i>Dhaka Bangladesh</span>
                                       </div>
                                       <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr sarata din megla....</p>
                                       <!-- <a class="button-default" href="#">LEARN Now</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-event-item">
                                    <div class="single-event-image">
                                        <a href="#">
                                            <!-- <img src="../../../../assets/img/college/event/2.jpg" alt=""> -->
                                            <span><span>20</span>Apr</span>
                                        </a>
                                    </div>
                                    <div class="single-event-text">
                                        <h3><a href="#">A Report on 70th Indian Pharmaceutical Congress</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                           <span><i class="zmdi zmdi-pin"></i>Bijnor</span>
                                       </div>
                                       <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr sarata din megla....</p>
                                       <!-- <a class="button-default" href="#">LEARN Now</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 hidden-sm">
                                <div class="single-event-item">
                                    <div class="single-event-image">
                                        <a href="#">
                                            <!-- <img src="../../../../assets/img/college/event/3.jpg" alt=""> -->
                                            <span><span>06</span>Dec</span>
                                        </a>
                                    </div>
                                    <div class="single-event-text">
                                        <h3><a href="#">A Report on 70th Indian Pharmaceutical Congress</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                           <span><i class="zmdi zmdi-pin"></i>Dhaka. Bangladesh</span>
                                       </div>
                                       <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr sarata din megla....</p>
                                       <!-- <a class="button-default" href="#">LEARN Now</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>