

 <div class="slider-area">
    <div class="preview-2">
     
         

            <ngx-slick-carousel class="carousel" 
            #slickModal="slick-carousel" 
            [config]="slideConfig" >
<div ngxSlickItem *ngFor="let slide of sliderData" class="slide">
  <img src="{{slide.ImgUrl}}" alt="" width="100%">
</div>
</ngx-slick-carousel>
<marquee direction="left" class="marquw-home" onmouseover="this.stop();" onmouseout="this.start();">
    Result of D.Pharma. Coursework Examination 2018.
</marquee>

       
    </div>
</div>
<!-- <marquee direction="left" onmouseover="this.stop();" onmouseout="this.start();">
  <h3 style="color:red;">New</h3> <p>Online Registration is coming soon</p>  
    </marquee> -->
<div class="course-area section-padding bg-white overview">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title-wrapper">
                        <div class="section-title">
                            <h3>Overview</h3>                          
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                   <div class="col-sm-6">
                       
                       <aside class="span4"> 
                                <div class="box-style-1 ribbon borders">
                                  <h3>Notification</h3>
                                  <hr class="double">
                                  <ul>
                                    <li class="row">
                                      <div class="homenews"> 
                                        <!--<h5><a href="#"><i class="icon-file"></i>UPSC Recruitment 2015 </a></h5>-->
                                        <marquee direction="up" behavior="scroll" scrollamount="2" height="100" onmouseover="stop()" onmouseout="start()">
                                        <p>JMCOP organizing three days fest "SPRIESTA '15 JMCOPG'<!--on 9th 10 th and 11th April 2015--></p>
                                        <p>Pharmacy week celebration <!--from November 16-23 2014--></p>
                                        <p>Pharmacist Day Celebration <!--25th September 2014--></p>
                                        <!--<p>UP GOVERNMENT'S FREE LAPTOP SCHEME-2012</p>-->
                                        <p>Debate competition <!--on 11th February 2015--></p>
                                        </marquee>
                                      </div>
                                    </li>
                                    <hr class="double">
                                    <h3>Results</h3>
                                    <li class="row">
                                      <div class="homenews"> 
                                        <!--<h5><a href="#"><i class="icon-file"></i>WBPSC Recruitment 2015 </a></h5>-->
                                        <marquee direction="up" behavior="scroll" scrollamount="2" height="100" onmouseover="stop()" onmouseout="start()">
                                        <p><strong>Coming Soon</strong></p>
                                       
                                        </marquee>
                                      </div>
                                    </li>
                                    <hr class="double">
                                    <h3>Events</h3>
                                    <li class="row">
                                      <div class="homenews"> 
                                        <!--<h5><a href="#"><i class="icon-file"></i>NWDA Recruitment 2015 </a></h5>-->
                                        <marquee direction="up" behavior="scroll" scrollamount="2" height="100" onmouseover="stop()" onmouseout="start()">
                                        <p><!--UPSEE 2014: -->UPTU help desk Centre at JMCOP</p>
                                        <p>Dummy Pooja.</p>
                                        <p>Closing of SPRIESTA JMCOP <!--2014--></p>
                                        <!--<p>Babita Nagar an International Wrestler Inaugurated sports activity at JMCOP during Spriesta'14 JMCOPG</p>-->
                                        </marquee>
                                      </div>
                                    </li>
                                  </ul>
                                </div>
                                <!--<p><a  href="all-courses.html" title="All courses"><img src="img/banner.jpg" alt="Banner" class="img-rounded" ></a></p>--> 
                              </aside> 

                   </div> 
                <div class="col-sm-6">
                    <div class="single-item">
                        <div class="single-item-image overlay-effect">
                           
                        </div>
                        <div class="single-item-text">
                                <h4>WELCOME TO JAGMEET COLLEGE OF PHARMACY (JMCOP)</h4>

                            
                                <p>Jagmeet College of Pharmacy, located at Vill bavanpur, bakaena, Chandpur, Uttar Pradesh ,as a part of the student’s, Dr.Bhuendra Tomar (Bsc. BAMS), a pioneer of Interventional Cardiology in India, .</p>
                                <p>We will offer different Pharmacy program to equip young students to develop a strong set of competencies desired in today’s cutting edge -competitive world.</p>
                                <p>The Jagmeet College of Pharmacy is established in a 2.20 acres land with all infrastructure like Class Room, Laboratories, Machine Room, Instrumentation Room, Library, Play Ground etc. </p>
                                    <!-- The Pharmacy College is affiliated to Dr.A.P.J.Abdul Kalam Technical University Lucknow and Board of Technical Education, Lucknow and approval by Pharmacy Council of India and All India Council for Technical Education & Ministry of HRD New Delhi. It is located amidst environment friendly and lush green educational hub of Greater Noida, by the side of 8- lane Noida - Greater Noida Express way is a sprawling and serene campus at a distance of about 30 minutes drive from New Delhi Border.</p> -->
                               
                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>

<div class="course-area section-padding bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title-wrapper">
                    <div class="section-title">
                        <h3>COURSES WE OFFER</h3>
                        <p>There are many variations of course of which we are provided</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-12" *ngFor="let course of courseList">
                <div class="single-item">
                    <div class="single-item-image overlay-effect">
                        <a href="#"><img src="../../../../../assets/img/college/course/3.jpg" alt=""></a>
                    </div>
                    <div class="single-item-text">
                        <h4><a >{{course.Name}}</a></h4>
                        <div class="single-item-text-info">
                            <span>Available Seats: <span>{{course.Seates}}</span></span>
                            <span>Duration: <span>{{course.Seates}}</span></span>
                        </div>
                        <p>{{course.Description}}</p>
                       
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>

             
                <div class="product-area section-bottom-padding bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>Our Library</h3>
                                        <p>There are many variations of Library</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- <marquee scrolldelay="200" behavior="alternate" width="80%"> </marquee> -->
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <a href="#"><img src="https://res.cloudinary.com/divaker/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1556762949/assets/DSC_1379.jpg" alt=""></a>
                                    </div>
                                    <div class="single-product-text">
                                        <h4><a href="#">Book Store</a></h4>
                                        <h5>B.Pharma Library</h5>
                                      <p>Toatal Area 720.00 Sq.m.</p>
                                      <p>Reading Section : 158</p>
                                      <p>Multimedia Library : 14</p>
                                      <p>Staff Seating : 07</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <a href="#"><img src="https://res.cloudinary.com/divaker/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen/v1556762799/assets/DSC_1378.jpg" alt=""></a>
                                    </div>
                                    <div class="single-product-text">
                                        <h4><a href="#">Book Store</a></h4>
                                        <h5>D.Pharma Library</h5>
                                        <p>Toatal Area 520.00 Sq.m.</p>
                                        <p>Reading Section : 120</p>
                                        <p>Multimedia Library : 10</p>
                                        <p>Staff Seating : 10</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xs-12">
                                <div class="single-product-item">
                                    <div class="single-product-image">
                                        <a href="#"><img src="https://res.cloudinary.com/divaker/image/upload/v1556762773/assets/DSC_1377.jpg" alt=""></a>
                                    </div>
                                    <div class="single-product-text">
                                        <h4><a href="#">Book Store</a></h4>
                                        <h5>M.Pharma Library</h5>
                                        <p>Toatal Area 520.00 Sq.m.</p>
                                        <p>Reading Section : 90</p>
                                        <p>Multimedia Library : 12</p>
                                        <p>Staff Seating : 19</p>
                                    </div>
                                </div>
                            </div>
                           
                       
                        </div>
                   
                    </div>
                </div>
               
                <div class="about-area" style="background: rgba(0, 0, 0, 0) url('../../../../assets/img/college/banner/1.jpg') no-repeat scroll center top;">
                  <div class="container">
                      <div class="row">
                          <div class="col-md-8">
                              <div class="about-container">
                                  <h3>Overview</h3>
                                  <p>
                                        The Jagmeet College Of Pharmacy Is Established In A 2.68 Acres Land With All Infrastructure Like Class Room, Laboratories, Machine Room, Instrumentation Room, Library, Play Ground, Cafeteria, Animal House And Herbal Garden Etc. The Pharmacy College Is Affiliated To Dr.A.P.J.Abdul Kalam Technical University Lucknow And Board Of Technical Education, Lucknow And Approval By Pharmacy Council Of India And All India Council For Technical Education & Ministry Of HRD New Delhi. It Is Located Amidst Environment Friendly And Lush Green Educational Hub Of Greater Noida, By The Side Of 8- Lane Noida - Greater Noida Express Way Is A Sprawling And Serene Campus At A Distance Of About 30 Minutes Drive From New Delhi Border.
                                  </p>
                                 
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
                <!--End of Testimonial Area-->
                <!--Event Area Start-->
                <div class="event-area section-padding bg-white">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="section-title-wrapper">
                                    <div class="section-title">
                                        <h3>OUR EVENTS</h3>
                                        <p>There are many variations of passages</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4 col-sm-6">
                                <div class="single-event-item">
                                    <div class="single-event-image">
                                        <a href="#">
                                            <!-- <img src="../../../../assets/img/college/event/1.jpg" alt=""> -->
                                            <span><span>15</span>Jun</span>
                                        </a>
                                    </div>
                                    <div class="single-event-text">
                                        <h3><a href="#">A Report on 70th Indian Pharmaceutical Congress</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                           <span><i class="zmdi zmdi-pin"></i>Dhaka Bangladesh</span>
                                       </div>
                                       <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr sarata din megla....</p>
                                       <!-- <a class="button-default" href="#">LEARN Now</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-6">
                                <div class="single-event-item">
                                    <div class="single-event-image">
                                        <a href="#">
                                            <!-- <img src="../../../../assets/img/college/event/2.jpg" alt=""> -->
                                            <span><span>20</span>Apr</span>
                                        </a>
                                    </div>
                                    <div class="single-event-text">
                                        <h3><a href="#">A Report on 70th Indian Pharmaceutical Congress</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                           <span><i class="zmdi zmdi-pin"></i>Bijnor</span>
                                       </div>
                                       <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr sarata din megla....</p>
                                       <!-- <a class="button-default" href="#">LEARN Now</a> -->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 hidden-sm">
                                <div class="single-event-item">
                                    <div class="single-event-image">
                                        <a href="#">
                                            <!-- <img src="../../../../assets/img/college/event/3.jpg" alt=""> -->
                                            <span><span>06</span>Dec</span>
                                        </a>
                                    </div>
                                    <div class="single-event-text">
                                        <h3><a href="#">A Report on 70th Indian Pharmaceutical Congress</a></h3>
                                        <div class="single-item-comment-view">
                                           <span><i class="zmdi zmdi-time"></i>4.00 pm - 8.00 pm</span>
                                           <span><i class="zmdi zmdi-pin"></i>Dhaka. Bangladesh</span>
                                       </div>
                                       <p>There are many variaons of passa of Lorem Ipsuable, amrn in sofby injected humour, amr sarata din megla....</p>
                                       <!-- <a class="button-default" href="#">LEARN Now</a> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>