<div class="container">
 
    <ul class="breadcrumb">
        <li><a href="#">Department</a></li>
        <li>B.Pharma</li>
      </ul>
      <div class="section-title-wrapper">
          <div class="section-title section">
              <h3>Department</h3>
              <p>B.Pharma Department</p>
            </div>
        </div>
        <hr>
      <div class="row">
          <div class="col-sm-12">
              <h3>About Us</h3>
            <p>The Department of Computer Science and Engineering at JMCOP, Ghaziabad is renowned for imparting state of the art undergraduate education and preparing its students for real world challenges. The undergraduate curriculum provides a strong foundation in all areas of Computer Science and Engineering. The mission of the Department is to impart high quality technical education and carry out leading-edge professional in the discipline of Computer Science and Engineering. The Department provides state of the art computing facilities to the students. It also promotes active industry-institute collaboration by identifying areas of interest.</p>
          </div><br><br>
      </div>
      <hr>
      <div class="row">
       
          <div class="col-md-4">
              <div class="skill-image">
                  <img src="../../../../../assets/img/college/about/1.JPG" alt="">
              </div>
          </div>
          <div class="col-md-8">
              <div class="about-text-container">
                  <h3>Hod Desk</h3>
                  <hr>
                  <p><span>Well come to Educat</span> come with us, we also teach children about the basic values of human beings as honesty, kindness, generosity, courage, freedom, equality and respect. Learn to celebrate diversity in a spirit of understanding and tolerance and develop a positive regard and awareness of other people. They are taught the values and responsibilities needed to become active members of the community, tolerance and develop something which the modern world is desperate for norem ipsum dolor sit amet desperate.<br>
                  Adipiscing signiferumque vix et. No alii docendi usu, pri graeco possim percipit ne.</p>
                     
                
              </div>
          </div>
      </div>
      </div>