<div class="container">
 
        <ul class="breadcrumb">
            <li><a href="#">Gallery</a></li>
           
          </ul>
          <div class="section-title-wrapper">
              <div class="section-title section">
                  <h3>Gallery</h3>
                  <p>Our College Photo</p>
                </div>
            </div>
            <hr>
          <div class="row">


<div class="gallery-area pt-110 pb-130">
    <div class="container">
     
        <div class="row">
            <div class="col-md-4 mb-30 col-sm-6">
                <div class="gallery-img">
                    <img src="../../../../../assets/img/college/event/1.jpg" alt="">
                    <div class="hover-effect">
                        <h2>Educational Courses</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas luctus nunc</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-30 col-sm-6">
                <div class="gallery-img">
                    <img src="../../../../../assets/img/college/event/2.jpg" alt="">
                    <div class="hover-effect">
                        <h2>Educational Courses</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas luctus nunc</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-30 col-sm-6">
                <div class="gallery-img">
                    <img src="../../../../../assets/img/college/event/3.jpg" alt="">
                    <div class="hover-effect">
                        <h2>Educational Courses</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas luctus nunc</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
</div>
</div>