<div class="container">
        <div class="slider-area">
                <div class="preview-2">
                        <ngx-slick-carousel class="carousel" 
                        #slickModal="slick-carousel" 
                        [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of sliderData" class="slide">
              <img src="{{ slide.ImgUrl }}" alt="" width="100%">
            </div>
            </ngx-slick-carousel>
                </div>
            </div>
        <ul class="breadcrumb">
            <li><a href="#">Gallery</a></li>
           
          </ul>
          <div class="section-title-wrapper">
              <div class="section-title section">
                  <h3>Gallery</h3>
                  <p>Our College Photo</p>
                </div>
            </div>
            <hr>
          <div class="row">


<div class="gallery-area pt-110 pb-130">
    <div class="container">
     
        <div class="row">
            <div class="col-md-4 mb-30 col-sm-6" *ngFor="let item of images">
                <div class="gallery-img">
                    <img [src]="item.ImgUrl" onerror="this.src='../../../../../assets/img/banner-default.png'">
                    <div class="hover-effect">
                        <h2>JMCOP College Photo</h2>
                        <p>JMCOP Gallery</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>