<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Transport</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="index.html">Home</a></li>
                            <li>Transport</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container">
      <div class="section-title-wrapper">
          <div class="section-title section">
              <h3>JMCOP Canteen</h3>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 class="f-w-700">Transportation features :-<hr></h4>
                <ul style="list-style-type:disc">
                <li>The transport facility is provided by the institute to the student &amp; staff . The college runs the buses throughout the Chandpur, Dhanaura, Gajraula &amp; also to the Garah(U.P). For this facility the nominal charge is paid by the students.</li>
                <li>Railway Concession : The college provide the facility to the student for the railway concession. This concession is provided only on the college holidays.</li>
                </ul><br><br>
                </div>
  
        </div>
    </div>