<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                 
                  <div class="card-body">
                      <form  [formGroup]="frm" (ngSubmit)="submit()" novalidate>
                          <div class="row">
                              <div class="col-sm-8">

                                <div class="row">

                              
                                    <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Full Name" #refName required  formControlName="name">
                                            </mat-form-field>
                                        </div>
                                      <div class="col-md-6">
                                        <mat-form-field class="example-full-width">
                                          <input matInput placeholder="Designation" type="text" #refName required  formControlName="designation">
                                        </mat-form-field>
                                      </div>
                                      <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Qualification" type="text" #refName required  formControlName="qualification">
                                            </mat-form-field>
                                          </div>
                                          <div class="col-md-6">
                                            <mat-form-field class="example-full-width">
                                              <input matInput placeholder="Description" type="text" #refName required  formControlName="description">
                                            </mat-form-field>
                                          </div>
                                        </div>
                              </div>
                              <div class="col-sm-4">

                                    <div class="col-md-12" style="text-align: center;">
                                           
                                            <input hidden type="file" (change)="uploadAndPreview($event.target.files)" #fileInput id="input-file-id">
                                            <img   [src]="imgURL" class="imgfaculty" ><br>
                                            <i class="material-icons" style="cursor: pointer" (click)="fileInput.click()">photo_camera</i>
                                            
                                        
                                        </div>
                                </div>
                             
                          
                          </div>
                          <!-- <div class="row">
                             
                             
                          </div> -->
                          <button mat-raised-button type="submit"  [disabled]="frm.invalid" class="btn btn-danger pull-right">Save</button>
                          <div class="clearfix"></div>
                      </form>
                  </div>
              </div>
          </div>
          
          <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h4 class="card-title ">Faculty List</h4>
                    
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <th>
                                    ID
                                </th>
                                <th>
                                        Photo
                                    </th>
                                
                                <th>
                                    Name
                                </th>
                                <th>
                                        Qualification
                                    </th>
                               
                                <th>
                                    Designation
                                </th>
                                <th>
                                  Action
                              </th>
                            </thead>
                            <tbody>


                                <tr *ngFor="let item of facultyList let i = index" [attr.data-index]="i">
                                    <td>
                                       {{i+1}}
                                    </td>
                                    <td>
                                    <img [src]="item.imgUrl" class="imgfaculty-td" onerror="this.src='../../../../../assets/img/defaut.png'" >
                                    </td>
                                    <td>
                                       {{item.name}}
                                    </td>
                                    <td>
                                            {{item.qualification}}
                                    </td>
                                    <td>
                                            {{item.designation}}
                                    </td>
                                   
                                    <td class="td-actions">
                                      <button mat-raised-button type="button" matTooltip="Edit Task" (click)="edit(item,id)" [matTooltipPosition]="'above'" class="btn btn-primary btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">edit</i>
                                      </button>
                                      <button mat-raised-button type="button" matTooltip="Remove" (click)="delete(item,id)" [matTooltipPosition]="'above'" class="btn btn-danger btn-link btn-sm btn-just-icon">
                                          <i class="material-icons">close</i>
                                      </button>
                                  </td>
                                </tr>
                            </tbody>
                          
                        </table>

                     <div class="pager-botom">
                            <mat-paginator [length]="length"
                            [pageSize]="pageSize"
                            [pageIndex]="pageIndex"
                            [pageSizeOptions]="pageSizeOptions"
                            (page)="loadMore($event)">
              </mat-paginator>
                     </div>
                              
                      

<!-- 

                        <mat-table [dataSource]="dataSource" matSort>

                                
                                <ng-container matColumnDef="id">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
                                </ng-container>
                            
                              
                                <ng-container matColumnDef="progress">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Progress </mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>
                                </ng-container>
                            
                             
                                <ng-container matColumnDef="name">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
                                  <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
                                </ng-container>
                            
                              
                                <ng-container matColumnDef="color">
                                  <mat-header-cell *matHeaderCellDef mat-sort-header> Color </mat-header-cell>
                                  <mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>
                                </ng-container>
                            
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let row; columns: displayedColumns;">
                                </mat-row>
                              </mat-table>
                            
                              <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
