<div class="breadcrumb-banner-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text">
                    <h1 class="text-center">Sports</h1>
                    <div class="breadcrumb-bar">
                        <ul class="breadcrumb text-center">
                            <li><a href="index.html">Home</a></li>
                            <li>Sports</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container">
      <div class="section-title-wrapper">
          <div class="section-title section">
              <h3>JMCOP Sports</h3>
            </div>
        </div>
       
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 class="f-w-700">Sports in  JMCOP :-</h4>
                <ul style="list-style-type:disc">
                <li>Indoor Sports: Indoor games / activities like Table Tennis, Chess, Carom, Gymnasium etc. are provided by the institute.</li>
               <li>Outdoor Sports: RKGIT is having outdoor sports facilities for Cricket, Football, Basketball, Volleyball, Badminton etc. The spacious grounds of the College are maintained for this purpose.
                </li>
                </ul><br><br>
                </div>
  
        </div>
    </div>